/* Header picture */
.header {
    height: 85vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.808))
        , url("../img/hero-small.jpg");
    background-size: cover;
    background-position: top;
    position: relative;


    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        // to make sure its working across all browsers it needs to be before the other clip-path
        -webkit-clip-path: polygon(0 0,100% 0,100%  75vh, 0 100%);
        clip-path: polygon(0 0,100% 0,100%  75vh, 0 100%);
        height: 95vh;
    }

    // thats the resolution of a retina screen/high res
    // basically load smaller img for any display and higher res for high res screens
    // also only if the vw is larger then 600px because phones has high res screens but because of their width
    // they don't require high res pictures
    // and means and logical operator  , means or logical operator
    @media  only screen and  (min-resolution: 192dpi) and (min-width: 37.5em), 
            // webkit fix for Safari older version
            only screen and  (-webkit-min-device-pixel-ratio: 2x) and (min-width: 37.5em), 
            only screen and  (min-width: 125em){
                background-image: linear-gradient(
                to right bottom, 
                rgba($color-primary-light, 0.8), 
                rgba($color-primary-dark, 0.808))
                , url("../img/hero.jpg");
    }

    // no matter of the screen res if its wider then 2000 load the bigger img
    // @media (min-width: 2000px) {
    //     background-image: linear-gradient(
    //     to right bottom, 
    //     rgba($color-secondary-light, 0.8), 
    //     rgba($color-secondary-dark, 0.808))
    //     , url("../img/hero.jpg");
    // }

    @include respond(phone){
        -webkit-clip-path: polygon(0 0,100% 0,100%  85vh, 0 100%);
        clip-path: polygon(0 0,100% 0,100%  85vh, 0 100%);
    }

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
    height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        /* it translates the box left and top  border by those measures in other names it moves it to the center */
        transform: translate(-50%, -50%);
    }
}