.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        // to fit the video for the whole section but to keep the aspect ratio
        // fill would will up the space but wouldn't keep the aspect ratio
        object-fit: cover;
    }
}